[Unit]
Description=Go HTTP Server

[Service]
User=newuser
WorkingDirectory=/opt/main/static
ExecStart=/opt/main/main

[Install]
WantedBy=multi-user.target
